$unit: 1.5rem

*
  margin: 0
  padding: 0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

html
  font-size: 100%
  line-height: $unit
  font-family: sans-serif

body
  height: 100 * $unit

h1
  font-size: 2rem

header.page-header
  position: relative
  background: white
  color: red
  height: 10 * $unit
  h1
    padding: $unit 0
    text-align: center
    font-size: 5 * $unit
    text-shadow: 2px 2px 8px #333333

.quality-section
  width: $unit * 23
  margin: 0 auto

header
  position: relative
  background: dimgray
  color: white
  h1
    padding: $unit 0
    text-align: center

.field-list
  padding-top: $unit
  li
    -moz-transition: all 1s ease
    /* WebKit */
    -webkit-transition: all 1s ease
    /* Opera */
    -o-transition: all 1s ease
    /* Standard */
    transition: all 1s ease

    border: 1px solid black
    padding-top: $unit / 2
    padding-bottom: $unit / 2
    list-style: none
    float: left
    width: 33.33%
    &:first-child, &:last-child
      margin: 0
    i
      text-align: center
      width: 100%
    figcaption
      text-align: center
  li:hover
    opacity: 1
     
    /* Firefox */
    -moz-transform: scale(10) rotate(360deg)
    /* WebKit */
    -webkit-transform: scale(10) rotate(360deg)
    /* Opera */
    -o-transform: scale(10) rotate(360deg)
    /* Standard */
    transform: scale(10) rotate(360deg)
     
    z-index: 1000

.menu-item
  position: relative
  display: inline-block
  border: 1px dashed #000
  padding: 10px
  background: #ffffa2
  height: 20px
  opacity: 0.3
  text-decoration: none
   
  /* Firefox */
  -moz-transition: all 1s ease
  /* WebKit */
  -webkit-transition: all 1s ease
  /* Opera */
  -o-transition: all 1s ease
  /* Standard */
  transition: all 1s ease
 
.menu-item:hover
  opacity: 1
   
  /* Firefox */
  -moz-transform: scale(2) rotate(30deg) translate(50px)
  /* WebKit */
  -webkit-transform: scale(1.2) rotate(30deg) translate(50px)
  /* Opera */
  -o-transform: scale(2) rotate(30deg) translate(50px)
  /* Standard */
  transform: scale(2) rotate(30deg) translate(50px)
   
  z-index: 1000

.one-element
  margin-left: 10px
  float: left
  width: $unit * 10
  height: $unit * 10
  margin: 0 auto
  opacity: 0.5
  background-color: black
  /* Firefox */
  -moz-transition: all 1s ease
  /* WebKit */
  -webkit-transition: all 1s ease
  /* Opera */
  -o-transition: all 1s ease
  /* Standard */
  transition: all 1s ease

.one-element:hover
  opacity: 1

@media all and (max-width: 960px)
  .field-list
    li
      width: 50%
