%section.quality-section
  %header
    %h1 Market quality
  %ul.field-list
    %li
      %figure
        %i.fa.fa-camera-retro
        %figcaption Name
    %li
      %figure
        %i.fa.fa-star
        %figcaption Description
    %li
      %figure
        %i.fa.fa-star
        %figcaption Featured
    %li
      %figure
        %i.fa.fa-camera-retro
        %figcaption Name
    %li
      %figure
        %i.fa.fa-star
        %figcaption Description
    %li
      %figure
        %i.fa.fa-star
        %figcaption Featured
